# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=xen_burn_analytics
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# Blockchain configuration
BASE_RPC_URL=https://base.llamarpc.com
START_BLOCK_BASE=7300000

# API configuration
API_PORT=3000

# Indexer Configuration
INDEXER_INTERVAL_MS=300000 # 5 minutes

# Contract Addresses (Base Chain)
XEN_CONTRACT_ADDRESS_BASE=0xffcbF84650cE02DaFE96926B37a0ac5E34932fa5
XBURN_MINTER_CONTRACT_ADDRESS_BASE=0xe89AFDeFeBDba033f6e750615f0A0f1A37C78c4A
XBURN_NFT_CONTRACT_ADDRESS_BASE=0x305C60D2fEf49FADfEe67EC530DE98f67bac861D 